.weather-for {
	display: block;
	text-align: center;
	font-size: 20px;
	margin-bottom: 5px;
}

.location-selector {
	padding: 20px 0;

	h1 {
		margin-bottom: 0;
		text-transform: capitalize;
	}

	form {
		text-align: center;
		margin-bottom: 15px;

		input {
			width: 100%;
			background: rgb(212, 236, 238);
			margin: 5px 0;
		}

		label {
			color: $white;
		}

		p {
			display: none;

			&.show {
				display: block;
			}
		}
	}

	button {
		background: rgb(209, 226, 226);
		// outline: none;
		border: none;
		padding: 6px 30px;
		color: #000;
		margin: 5px 0;
	}

	.form-inputs {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-end;

		.input-grp {
			width: 100%;
			border: none;
			color: #000;

			+ .input-grp {
				margin-top: 10px;

				@include media('screen', '>=phone') {
					margin-top: 0;
				}
			}

			@include media('screen', '>=phone') {
				width: calc(50% - 10px);
				max-width: 200px;
				margin: 0 5px;
			}
		}
	}
}

.coords {
	text-align: center;
	font-style: italic;

	span {
		+ span {
			margin-left: 10px;
		}
	}
}
